<Configuration name="logback-dev-config" debug="true" scan="true" scanPeriod="60 seconds">
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level [%thread]%logger -%msg%n"/>
    <springProperty scope="context" name="logstash.server-addr" source="logstash.server-addr"/>
    <springProperty scope="context" name="log.path" source="log.path"/>
    <springProperty scope="context" name="log.name" source="spring.application.name"/>
    <!--控制台-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${log_pattern}</Pattern>
        </encoder>
    </appender>
    <!-- 输出到Controller文件 -->
    <appender name="sysLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}-sys.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}-sys-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>${log_pattern}</Pattern>
        </encoder>
    </appender>
    <!-- 输出到Controller文件 -->
    <appender name="controllerLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}-controller.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}-controller-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>${log_pattern}</Pattern>
        </encoder>
    </appender>
    <!-- 输出到Service文件 -->
    <appender name="serviceLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.name}-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.name}-service-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <Pattern>${log_pattern}</Pattern>
        </encoder>
    </appender>
    <appender name="stashLog" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.server-addr}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
<!--            <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator">-->
<!--                <escape>-->
<!--                    <targetCharacterCode>10</targetCharacterCode>-->
<!--                    <escapeSequence>\u2028</escapeSequence>-->
<!--                </escape>-->
<!--            </jsonFactoryDecorator>-->
            <providers>
                <pattern>
                    <pattern>
                        {
                        "serviceName":"${log.name}",
                        "spanId":"%X{X-B3-SpanId:-}",
                        "traceId":"%X{X-B3-TraceId:-}",
                        "message":"%msg%n"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>
    <Logger name="com.cloud.lz.userservice.controller" level="info" additivity="false">
        <appender-ref ref="Console"/>
<!--        <appender-ref ref="controllerLogFile"/>-->
        <appender-ref ref="stashLog"/>
    </Logger>
    <Logger name="com.cloud.lz.userservice.service" level="info" additivity="false">
        <appender-ref ref="Console"/>
<!--        <appender-ref ref="serviceLogFile"/>-->
        <appender-ref ref="stashLog"/>
    </Logger>
    <root level="info">
        <appender-ref ref="Console"/>
<!--        <appender-ref ref="sysLogFile"/>-->
        <appender-ref ref="stashLog"/>
    </root>
</Configuration>